/*
============
HOME PAGE
============
 */

.title-container {
  /* display */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-grey-1);
  /* dimension */
  width: 100%;
  height: 30%;
  /* spacing */
}

.title {
  /* dimension */
  width: 55vw;
  height: 30vh;
  /* spacing */
  margin: auto;
}

.genre-container {
  /* display */
  display: grid;
  grid-template-columns: repeat(2, 25rem);
  grid-template-rows: repeat(auto-fill, 4.5rem);
  /* grid gaps */
  column-gap: 3rem;
  /* alignment */
  justify-items: stretch;
  align-items: center;
  /* dimension */
  width: 55vw;
  height: 70vh;
  /* spacing */
  padding-top: 1rem;
  margin: auto;
}
