/* 
=============
GLOBAL STYLES
=============
*/

/* * --- FONTS --- */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

/* * --- ROOT --- */
:root {
  /* primary colors */
  --clr-blue: #5e56e7;
  --clr-light: #f8f7ff;
  --clr-white: #fff;
  /* secondary colors */
  --clr-grey-1: #f0f0f6;
  --clr-grey-2: #a0a0a0;
  --clr-grey-3: #333333;
  /* fonts */
  --ff-1: "Montserrat";
  /* radius & spacings */
  --radius-1: 0.25rem;
  --radius-2: 0.5rem;
  --spacing: 0.625rem;
  /* shadows */
  --shadow: 0 2px 5px 0 rgba(211, 209, 238, 0.5);
  /* animation & transitions */
  --transition: all 300ms linear;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* * --- HEADINGS --- */
h1,
h2 {
  color: var(--clr-blue);
  font-size: 3rem;
  font-weight: 600;
  text-transform: capitalize;
}

h2 {
  font-size: 1.875rem;
}

body {
  color: var(--clr-grey-3);
  font-size: 16px;
  font-weight: 600;
  font-family: var(--ff-1);

  margin: 0;
  padding: 0;
}

main {
  width: 100vw;
  height: 100vh;
  background-color: var(--clr-light);
}
